/* label{
    float:left;
    width:100px;
    margin-right:10px;
    text-align: right;
}

input{
    float:left;
    height:25px;
    padding:2px;
} */

body {
  background-color: coral;
}

.display-flex {
    display: flex;
    align-items: center;
}

input{
  display: flex;
  align-items: center;
  margin-left: 100px;
}
